/* ############ LAYOUT ############## */

html, body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
}

body {
	overflow-y: scroll;
	line-height: 1.5em;
}

#bg_header, #bg_footer {
	z-index: -1;
	float: left;
	clear: both;
	width: 100%;
}

#bg_header {
	position: absolute;
	top: 0;
	left: 0;
	height: 150px;
}

#bg_footer {
	position: relative;
	height: 150px;
	margin: -150px 0;
}

#primary_container {
	position: relative;
	max-width: 960px;
	min-height: 100%;
	margin: auto auto;
}

#header_container {
	margin-left: 150px;
	padding-top: 150px;
}

#header_content {
	position: relative;
	z-index: 3;
	float: left;
	clear: both;
	width: 100%;
	height: 85px;
}

#right_col_container {
	float: left;
	width: 100%;
}

#right_col_content {
	position: relative;
	float: left;
	clear: both;
	max-width: 810px;
	margin-left: 150px;
}

#top_content {
	position: relative;
	float: left;
	width: 98%;
	margin-left: 1%;
	margin-bottom: 10px;
}

#left_col_container {
	float: left;
	width: 150px;
	margin-left: -100%;
}

#left_col_content {
	float: left;
	clear: both;
	width: 150px;
}

#footer_container {
	float: left;
	clear: both;
	width: 100%;
}

#footer_content {
	position: relative;
	z-index: 2;
	float: left;
	clear: both;
	width: 100%;
}

#shade_container {
	visibility: hidden;
	display: none;
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	height: 0px;
}

#shade_content {
	position: relative;
	z-index: 2;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
}

/* ############ STYLES ############## */

body {
	background: #000;
	background-image: url('../img/bg.jpg');
	font-family: Verdana;
}

#bg_header {

}

#bg_footer {

}

#header {
	float: left;
	clear: both;
	width: 102%;
	height: 100%;
	margin-left: -1%;
	background-color: #ccc;
	background: url('../img/bg3.jpg');
	border-bottom: 1px solid #888;
	border-right: 1px solid #888;
	border-left: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 0px 3px #000;
}

#logo {
	margin-top: -150px;
	margin-left: -57px;
	border: 0px;
}

#shade {
	float: left;
	clear: both;
	height: auto;
	width: 100%;
	background-color: #fff;
}

#right_col_border {
	float: left;
	clear: both;
	height: 100%;
	width: 100%;
	border-left: 1px solid #eee;
	border-right: 1px solid #888;
}

#right_col {
	float: left;
	clear: both;
	height: 100%;
	min-height: 555px;
	width: 100%;
	background-color: #fff;
	background: url('../img/bg.png');
}

#left_col {
	float: left;
	clear: both;
	width: 100%;
	background-color: #444;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#footer {
	float: left;
	clear: both;
	width: 101%;
	min-height: 40px;
	margin-left: -0.5%;
	padding-top: 10px;
	background-color: #ccc;
	background: url('../img/bg3.jpg');
	border-top: 1px solid #ccc;
	border-right: 1px solid #888;
	border-left: 1px solid #ccc;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-align: center;
	font-size: 10px;
	line-height: 15px;
	color: #555;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -1px;
	box-shadow: 0px 0px 3px #000;
}

/* --------- categories -------- */

#nav_categories {
	float: right;
	clear: both;
	height: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 6px;
}

input.product_search_box, input.product_search_box_selected {
	position: relative;
	z-index: 2;
	float: right;
	clear: both;
	height: 30px;
	width: 143px;
	margin-bottom: 6px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 1px solid #000;
	font-size: 16px;
	text-indent: 5px;
	border: 3px solid #4e93ce;
	border-right: 0px;
	outline: none;
}

input.product_search_box_selected {
	z-index: 5;
}

li.nav_main_cat, li.nav_selected_main_cat {
	position: relative;
	z-index: 2;
	float: right;
	clear: both;
	height: 30px;
	width: 140px;
	margin-bottom: 6px;
	padding-right: 5px;
	text-align: right;
	line-height: 30px;
	color: #fff;
	background-color: #999;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	cursor: pointer;
}

li.nav_selected_main_cat {
	z-index: 0;
	width: 142px;
	height: 40px;
	margin-top: -5px;
	margin-right: -2px;
	margin-bottom: 1px;
	background-color: #fff;
	color: #000;
	line-height: 40px;
	cursor: default;
	box-shadow: 0px 0px 7px #000;
}

li.nav_main_cat:hover {
	background-color: #b5b5b5;
	color: #000;
}

/* ---------- FEATURED PRODUCT ---------- */

div.title_top {
	float: left;
	clear: both;
	width: 100%;
	height: 30px;
	margin-top: 10px;
	background: transparent;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	text-indent: 10px;
	font-family: 'Michroma', sans-serif;
	font-size: 22px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 22px;
	box-shadow: 0px 0px 3px #000;
	text-shadow: #555 -1px 0, #555 0 -1px, #eee 0 1px, #555 -1px -1px;
}

#feature_product_container {
	position: relative;
	float: left;
	width: 330px;
	height: 300px;
	margin-left: -100%;
}

#feature_product_content {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	background: #000;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow: 0px 0px 3px #000;
}

#featured_product_img {
	float: left;
	max-width: 120px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 8px;
}

#featured_product_info {
	position: relative;
	float: left;
	margin-top: 10px;
	margin-left: 2%;
	margin-bottom: 20px;
	color: #fff;
}

#featured_product_buy {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	min-width: 150px;
	height: 35px;
	margin: auto auto;
	background-image: url('../img/cart_button_bg.png');
	background-repeat: repeat-x;
	border-top: 1px solid #dfff99;
	border-left: 1px solid #dfff99;
	border-bottom: 2px solid #90b04b;
	border-right: 2px solid #90b04b;
	border-radius: 10px;
	color: #90b04b;
	font-family: Verdana;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height: 35px;
	text-shadow: #70893a -1px 0, #70893a 0 -1px, #dfff99 0 1px, #dfff99 -1px -1px;
	cursor: pointer;
	overflow: hidden;
}

#featured_product_buy:hover {
	color: #000;
}

#featured_product_buy:before {
	content: "Add to Cart";
}

#feature_product_title {
	float: right;
	width: 90%;
	margin-right: 3%;
	margin-top: -3%;
}

/* ---------- BLOG ---------- */

#blog_container {
	position: relative;
	float: left;
	width: 100%;
}

#blog_content {
	position: relative;
	margin-left: 340px;
}

#blog_title {
	float: right;
	margin-right: 10px;
	margin-top: -3%;
}

#blog {
	float: left;
	clear: both;
	width: 100%;
	height: 300px;
	background: #000;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #fff;
	overflow: hidden;
	box-shadow: 0px 0px 3px #000;
}

span.blog_header {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 20px;
}

p.blog_text {

}

/* ---------- CAROUSEL ---------- */

#product_carousel_container {
	position: relative;
	float: left;
	clear: both;
	width: 98%;
	height: 290px;
	margin-left: 1%;
	margin-bottom: 10px;
	background-color: #000;
	background: url('../img/bg2.png');
	border: 1px solid #777;
	border-top: 0px;
	border-radius: 6px;
	box-shadow: 0px 0px 3px #000;
	overflow: hidden;
	text-overflow: hidden;
}

#product_carousel {
	position: absolute;
	left: 62px;
	list-style-type: none;
	width: 100%;
	height: 100%;
	list-style-type: none;
	text-align: left;
	white-space: nowrap;
}

#carousel_hover_left, #carousel_hover_right {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 25%;
	margin: 0px;
}

#carousel_hover_right {
	right: 0px;
}

#carousel_hover_left {

}

#carousel_button_left, #carousel_button_right {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 55px;
	margin: 0px;
	background-color: #444;
	border-left: 0px;
	border-right: 2px solid #555;
	line-height: 280px;
	text-align: center;
	font-size: 60px;
	color: #333;
	cursor: pointer;
	text-shadow: rgba(0,0,0,0.5) 1px 0, rgba(0,0,0,0.3) 0 1px, rgba(255,255,255,0.5) 0 -1px, rgba(0,0,0,0.3) 1px 1px;
}

#carousel_button_right {
	right: 0px;
	border-left: 2px solid #555;
	border-right: 0px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: -1px 0px 7px #000;
	background: url('../img/carousel_button_right.png');
}

#carousel_button_left {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	box-shadow: 1px 0px 7px #000;
	background: url('../img/carousel_button_left.png');
}

#carousel_button_left:hover {
	color: #777;
	text-indent: -3px;
}

#carousel_button_right:hover {
	color: #777;
	text-indent: 3px;
}

/* ---------- product cards ---------- */

#product_list {
	position: relative;
	float: left;
	clear: both;
	height: 100%;
	width: 100%;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

li.product_card_container {
	display: inline-block;
	width: 175px;
	height: 270px;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0px;
	text-align: left;
	vertical-align: top;
	white-space: normal;
}

div.product_card {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	cursor: pointer;
	font-size: 100%;
	line-height: 100%;
	letter-spacing: 100%;
	overflow: hidden;
}

div.product_card:hover {
	width: 106%;
	height: 105%;
	margin-left: -3%;
	margin-top: -4.5%;
	font-size: 106%;
}

div.pc_title_container {
	position: relative;
	float: left;
	clear: both;
	width: 98.5%;
	background-color: #4e93ce;
	background-image: url('../img/card_title_bg.png');
	background-repeat: repeat-x;
	border-right: 2px solid #003366;
	border-left: 1px solid #4e93ce;
	border-top: 1px solid #4e93ce;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: #fff;
	font-weight: bold;
	text-indent: 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.pc_title {
	display: inline;
	min-height: 1.25em;
	font-family: Verdana;
	font-size: 1.25em;
	line-height: 2.25em;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -1px;
}

div.pc_info_img_container {
	position: relative;
	float: left;
	clear: both;
	width: 98.5%;
	padding-bottom: 4%;
	background-color: #FFFFCC;
	border-right: 2px solid #888;
	border-left: 1px solid #888;
}

img.pc_img {
	float: left;
	width: 40%;
	margin-left: 4%;
	border-radius: 2px;
}

div.pc_price_container {
	float: left;
	width: 49%;
	margin-bottom: 4%;
	margin-left: 4%;
	margin-top: -10%;
	border: 1px solid #444;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 2px;
	background: #666; /* Old browsers */
	background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
	background: linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
	text-align: center;
}

span.pc_price {
	color: #b7d86e;
	font-size: 1.25em;
	line-height: 2em;
	font-weight: bold;
	text-shadow: #000 0 0 10px;
}

div.pc_info {
	float: left;
	width: 50%;
	margin-left: 4%;
	font-size: .8em;
	line-height: 1.2em;
	text-shadow: #000 0 0 10px;
}

div.pc_desc_container {
	float: left;
	clear: both;
	width: 98.5%;
	height: 35%;
	padding-top: 2%;
	background-color: #FFFFCC;
	border-right: 2px solid #888;
	border-left: 1px solid #888;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 1.1em;
	line-height: 1.1em;
	letter-spacing: 0px;
}

div.pc_desc {
	float: left;
	clear: both;
	width: 93%;
	margin-left: 5%;
}

div.pc_footer_container {
	position: absolute;
	bottom: 0;
	float: left;
	clear: both;
	width: 98.5%;
}

div.pc_footer_top {
	width: 100%;
	min-height: 16px;
	margin: 0px;
	background-image: url('../img/card_footer_top_bg.png');
	background-repeat: repeat-x;
	border-right: 2px solid #888;
	border-left: 1px solid #888;
}

div.pc_footer {
	float: left;
	clear: both;
	width: 100%;
	background-color: #023673;
	background-image: url('../img/card_footer_bg.png');
	background-repeat: repeat-x;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 2px solid #003366;
	border-left: 1px solid #4e93ce;
	border-bottom: 2px solid #003366;
}

div.pc_to_cart_button {
	float: left;
	clear: both;
	width: 89%;
	margin: 5%;
	background-image: url('../img/cart_button_bg.png');
	background-repeat: repeat-x;
	border-top: 1px solid #dfff99;
	border-left: 1px solid #dfff99;
	border-bottom: 2px solid #90b04b;
	border-right: 2px solid #90b04b;
	border-radius: 6px;
	color: #90b04b;
	text-align: center;
	line-height: 2em;
	text-shadow: #70893a -1px 0, #70893a 0 -1px, #dfff99 0 1px, #dfff99 -1px -1px;
	font-family: Verdana;
	font-size: 1.4em;
	font-weight: bold;
}

div.pc_to_cart_button:before {
	content: "Add to Cart";
}

div.pc_to_cart_button:after {
	content: url('../img/shopping_cart.png');
}

div.pc_to_cart_button:hover:after {
	content: url('../img/shopping_cart_selected.png');
}

div.pc_to_cart_button:hover {
	color: #000;
}

div.pc_rating_container {
	float: left;
	width: 100%;
	margin: 2%;
}

div.blank_star, div.filled_star {
	float: left;
	width: 9%;
	height: 9%;
	min-height: 16px;
}

div.blank_star {
	background-image: url('../img/blank_star.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

div.filled_star {
	background-image: url('../img/filled_star.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

/* ------------- product view ------------- */

div.product_view_container {
	float: left;
	clear: both;
	width: 100%-10px;
	padding: 10px;
}

div.product_view_title {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}

div.product_view_info {
	position: relative;
	float: left;
	clear: right;
	height: 260px;
	margin-left: 10px;
}

img.product_view_img {
	float: left;
	max-width: 200px;
}

div.product_view_desc {
	float: left;
	clear: both;
	margin-top: 10px;
}